* {
	margin: 0; /*menghilangkan margin bawaan*/
	box-sizing: border-box;
}

.form-login-register {
	border: 2px solid black; /*membuat batas untuk login form*/
	padding: 20px; /*jarak di pinggir form dengan batas*/
	margin: 200px auto; /*membuat kotak berada di tengah*/
	width: 350px; /*lebar login form*/
	border-radius: 7px; /*ujung kotak menjadi tidak kotak*/
	box-shadow: 0 20px 20px gray; /*membuat bayangan pada login form*/
}

.row {
	margin: 5px 0; /*memberi jarak antar baris*/
	width: 100%; /*mengatur lebar baris*/
	padding: 5px; /*mengatur ukuran baris*/
	border-radius: 4px; /*membuat ujung baris menjadi tidak lancip*/
}

.row-btn {
	margin-top: 20px; /*membuat jarak atas dari tombol login dengan form*/ 
}

.row-btn input {
	margin-bottom: 10px; /*membuat jarak bawah dari tombol login dengan register*/
	color: white; /*mengubah warna teks menjadi putih*/
	border: none; /*menghilangkan garis border*/ 
	border-radius: 3px; /*membuat ujung button menjadi tidak lancip*/
	background-color: gray; /*mengubah warna button*/
	padding: 10px; /*memberi jarak pada button*/
}

.row-btn a {
	color: blue; /*mengubah warna m\teks menjadi biru*/ 
	text-decoration: none; /*menghilangkan garis bawah pada teks*/
}

.kepala {
	width: 100%; /*membuat lebar header menjadi 100%*/
	max-width: 1000px; /*lebar maksimal header*/
	margin: 0 auto; 
	margin-bottom: 75px; /* memberi jarak header dengan konten*/
}

.head {
	display: flex; /*membuat tampilan fleksibel*/
	background: #F67280; /*mengganti warna background*/
}

.head img {
	max-width: 100px; /*mengatur ukuran gambar*/
	height: auto; /*mengatur tinggi gambar*/
}

.head div {
	margin: 20px; /*jarak tulisan dengan logo*/
}

.nav {
	background: #C06C84;
	font-size: 15px; /*mengatur ukuran font*/
	border-bottom-left-radius: 15px; /*tepi bawah kiri nabar menjadi tidak lancip*/
	border-bottom-right-radius: 15px; /*tepi bawah kanan nabar menjadi tidak lancip*/
}

.nav a {
	padding: 20px; /*memberi jarak antar navbar*/
	line-height: 50px; /*mengatur tinggi garis navbar*/
	text-decoration: none; /*menghilangkan garis bawah pada teks*/
	color: white; /*mengganti warna teks*/
}

.nav a:hover {
	background: #6C5B7B; /*mengganti warna navbar jika cursor diarahkan ke navbar*/
}

.urut {
	width: 900px; /*mengatur lebar urut*/
	margin: auto; /*membuat posisi di tengah*/
	padding: 13px; /*jarak dengan background*/
	color: white; /*mengubah warna teks menjadi putih*/
	background: #6C5B7B; /*mengubah warna background*/ 
	border-radius: 10px; /*membuat ujung background menjadi tidak lancip*/
}

.urut select {
	margin: auto 3px; /*memberi jarak pada kanan kiri*/
	background: #F67280; /*mengubah warna dropdown*/
	color: white; /*mengubah warna teks menjadi putih*/
	border: none; /*menghilangkan garis border*/
	border-radius: 5px; /*membuat ujung dropdown menjadi tidak lancip*/ 
	padding: 5px; /*mengubah ukuran dropdown*/
}

.urut button {
	background: #C06C84; /*mengubah warna button*/ 
	color: white; /*mengubah warna teks menjadi putih*/
	border: none; /*menghilangkan garis border*/
	border-radius: 7px; /*membuat ujung button menjadi tidak lancip*/
	padding: 5px; /*mengubah ukuran button*/
}

.content {
	width: 900px; /*mengatur lebar content*/
	margin: auto; /*membuat content di tengah*/
	padding: 20px; /*jarak content dengan background*/
	background: #355C7D; /*mengubah warna background*/
	border-radius: 10px; /*membuat ujung background menjadi tidak lancip*/ 
	color: white; /*mengubah warna teks menjadi putih*/
}

.foot {
	width: 100vw; /*mengatur lebar footer*/
	background: gray; /*mengubah warna footer*/
	padding: 10px; /*membuat ukuran footer*/
	font-weight: bold; /*membuat teks menjadi tebal*/
	position: absolute; /*membuat posisi footer selalu berada di bawah*/
	bottom: 0; /*membuat footer berada di bawah*/
}